body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #433878;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #433878;
    padding: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap; 
}
.navbar a, .navbar button {
    color: #433878;
    text-decoration: none;
    margin: 0 10px; 
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.navbar a:hover, .navbar button:hover {
    background-color: #07001f;
    border-radius: 4px;
}

.expense-form {
    width: 90%; 
    max-width: 600px; 
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #757575;
}

input[type="text"], 
input[type="number"], 
input[type="date"] {
    width: 100%; 
    max-width: 400px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #757575;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%; 
    max-width: 150px; 
    padding: 10px 20px;
    background-color: hsl(327, 90%, 28%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #07001f;
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: hsl(327, 90%, 28%);
    color: white;
}

td button {
    background-color: #FF6B6B;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

td button:hover {
    background-color: #ff1a1a;
}

tr:hover {
    background-color: #f2f2f2;
}

#logout-btn {
    background-color: #FF6B6B;
}

#logout-btn:hover {
    background-color: #fa3a3a;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .expense-form {
        width: 95%; 
    }

    input[type="text"], 
    input[type="number"], 
    input[type="date"] {
        width: 100%; 
    }

    button {
        width: 100%;
    }

    #logout-btn {
        width: 100%;
        margin-top: 10px; 
    }
}
